.section-pokemons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.pokemon-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}